<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.hello-world"
        version   = "2.0.0">
    <name>NERCOMP Sample App</name>

    <description>
        A Hello World of Phone Gap Apps.
    </description>

    <author href="http://www.tufts.edu" email="mike.korcynski@tufts.edu">
    	Mike Korcynski
	</author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.0.0" />
    <preference name="orientation"      value="landscape" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />

    <icon src="apple-touch-icon.png" />  
</widget>
